<div class="panel">
    <h5><i>Per qualsiasi domanda rivolgersi a:</i></h5>
    <strong>Giulio Locatelli</strong><br/>
    Telefono: <strong>800 782 217</strong><br/>
    Email: <a href="mailto:giulio.locatelli@defibrillatori-online.com" target="_blank"><strong>giulio.locatelli@defibrillatori-online.com</strong></a>
</div>