// Load normalize.scss as recommended by Zurb Foundation
@import "normalize";

// Customize certain layout settings in foundation/_settings.scss
@import "foundation/settings";

// Use Zurb Foundation
@import "foundation";

header {
  @include grid-row;
  padding-top: em-calc(10px);

}

.magellan-container {
  padding: 0 !important;
  background: #fff; }

.sub-nav {
  background-color: #f2f2f2;
  padding: 5px 5px 5px 0; }