---
title: Clienti type template
slug: content_type_template
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 100
content_type: clienti
---
{% extends parent %}

{% block main %}

  <h3>{{ clienti.nome_e_cognome | escape }}</h3>

    <div class="posts">
    {% for preventivo in contents.preventivi %}
      <div class="post-listing">
        <h3>{{ preventivo.titolo_leggibile | escape }}</h3>
        <div class="teaser">{{ preventivo.messaggio }}</div>
        <p><a href="/preventivi/{{ preventivo._slug }}">Read More</a></p>
      </div>
    {% endfor %}
    </div>

{% endblock %}
