---
title: Clienti

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

slug: clienti

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
  <div class="posts">
    {% for cliente in contents.clienti %}
      <div class="post-listing">
        <h3>{{ cliente.nome_e_cognome | escape }}</h3>
        <p><a href="/clienti/{{ cliente._slug }}">Read More</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
